$white: #ebebeb;
$red: #d9534f;
$green: #4cae4c;
$blue: #4e5d6c;
$blue-light: #5bc0de;
$blue-dark: #2b3e50;

$container-width: 990px;
$top-pb-height: 20px;

$task-wrapp-width: 494px;
$task-wrapp-height: 600px;
$task-pb-width: 20px;
$task-container-width: 400px;
