doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    block content

    script(src='/lib/jQuery/dist/jquery.min.js')
    script(src='/js/pubsub.js')
    script(src='/js/visualTask.js')
    script(src='/js/mathTask.js')
    script(src='/js/gameRuner.js')
    script(src='/js/app.js')